# Fun with binary coding
### N.b. to use this Jupyter notebook you will need to run all cells
### Oscar Scholin

## Initialize dictionary

In [111]:
# give example sentence with all punctunation and characters we want
#master = "the quick brown fox jumps over the lazy dog. THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG, who really should have brushed his teeth; however, I do not object--they were \n a pretty cool sweater, worth $100 and #1234567890 on trending (@elonmusk verifies this fact) *don't take me too seriously here ^^ seriously, dear reader!! ~hugs to you if you're reading this :) <=> what? are you talking to [me]. I hope not, cause I'm not listening to you & I don't care. \|.|/. 9+10 = 21. oh yeah, old meme.`` fun characters ~~``~\t"
master = "abcdefghijklmnopqrstuvwxyz "
# extract unique characters
alphabet = sorted(list(set(master)))
# now append capital letters
master2 = 'ABCDEFGHIJKLMNOPQRSTUVXYZ'
alphabet+=sorted(list(set(master2)))
# now append special characters
master3 = "!@#$%^&*()-_+\|[]{};',./?'"
alphabet+=sorted(list(set(master3)))
#alphabet = list(set(alphabet))
#print(type(alphabet))
print('alphabet:', alphabet)
print('num characters:', len(alphabet))

alphabet: [' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'X', 'Y', 'Z', '!', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ';', '?', '@', '[', '\\', ']', '^', '_', '{', '|', '}']
num characters: 77

In [112]:
# now need to generate prime counterparts to create binary representations
import re

def isprime(n):
    return re.compile(r'^1?$|^(11+)\1+$').match('1' * n) is None

def gen_prime_list(max_value):
    max_cap = 10000 # map cap to look for primes
    primes_list = []

    for i in range(1, max_cap):
        if isprime(i)==True:
            primes_list.append(i)
        if len(primes_list) >= max_value:
            return primes_list

prime_list = gen_prime_list(len(alphabet))
print('prime list:', prime_list)

prime list: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389]

In [113]:
# now combine them
import pandas as pd
alpha_tab = pd.DataFrame({})
alpha_tab['char']=alphabet
alpha_tab['prime'] = prime_list
alpha_tab

   char  prime
0            2
1     a      3
2     b      5
3     c      7
4     d     11
..  ...    ...
72    ^    367
73    _    373
74    {    379
75    |    383
76    }    389

[77 rows x 2 columns]

In [114]:
# now create the dictionary from character to prime
alpha_prime_dict = dict(zip(alphabet, prime_list))
print('alpha prime:', alpha_prime_dict)

print('-------')

# now go backwards
prime_alpha_dict = dict(zip(prime_list, alphabet))
print('prime alpha:', prime_alpha_dict)

alpha prime: {' ': 2, 'a': 3, 'b': 5, 'c': 7, 'd': 11, 'e': 13, 'f': 17, 'g': 19, 'h': 23, 'i': 29, 'j': 31, 'k': 37, 'l': 41, 'm': 43, 'n': 47, 'o': 53, 'p': 59, 'q': 61, 'r': 67, 's': 71, 't': 73, 'u': 79, 'v': 83, 'w': 89, 'x': 97, 'y': 101, 'z': 103, 'A': 107, 'B': 109, 'C': 113, 'D': 127, 'E': 131, 'F': 137, 'G': 139, 'H': 149, 'I': 151, 'J': 157, 'K': 163, 'L': 167, 'M': 173, 'N': 179, 'O': 181, 'P': 191, 'Q': 193, 'R': 197, 'S': 199, 'T': 211, 'U': 223, 'V': 227, 'X': 229, 'Y': 233, 'Z': 239, '!': 241, '#': 251, '$': 257, '%': 263, '&': 269, "'": 271, '(': 277, ')': 281, '*': 283, '+': 293, ',': 307, '-': 311, '.': 313, '/': 317, ';': 331, '?': 337, '@': 347, '[': 349, '\\': 353, ']': 359, '^': 367, '_': 373, '{': 379, '|': 383, '}': 389}
-------
prime alpha: {2: ' ', 3: 'a', 5: 'b', 7: 'c', 11: 'd', 13: 'e', 17: 'f', 19: 'g', 23: 'h', 29: 'i', 31: 'j', 37: 'k', 41: 'l', 43: 'm', 47: 'n', 53: 'o', 59: 'p', 61: 'q', 67: 'r', 71: 's', 73: 't', 79: 'u', 83: 'v', 89: 'w', 97: 'x', 101: 'y', 103: 'z', 107: 'A', 109: 'B', 113: 'C', 127: 'D', 131: 'E', 137: 'F', 139: 'G', 149: 'H', 151: 'I', 157: 'J', 163: 'K', 167: 'L', 173: 'M', 179: 'N', 181: 'O', 191: 'P', 193: 'Q', 197: 'R', 199: 'S', 211: 'T', 223: 'U', 227: 'V', 229: 'X', 233: 'Y', 239: 'Z', 241: '!', 251: '#', 257: '$', 263: '%', 269: '&', 271: "'", 277: '(', 281: ')', 283: '*', 293: '+', 307: ',', 311: '-', 313: '.', 317: '/', 331: ';', 337: '?', 347: '@', 349: '[', 353: '\\', 359: ']', 367: '^', 373: '_', 379: '{', 383: '|', 389: '}'}

## Create binary representations of numbers

In [115]:
# function to create binary representations
def get_binary(num):
    return bin(num).replace("0b", "")

# function to get digit representation
def get_digit(binary):
    return int(binary, 2)

In [116]:
# create encoder
def encode(text):
    binary = '' # complete binary string
    for i, c in enumerate(text): # go through all characters
        prime = alpha_prime_dict[c]
        binary += get_binary(prime)
        if i < len(text)-1:
            binary +='|' #  append divider
    return binary

In [118]:
# create decoder
def decode(binary):
    # initialize return string
    output = ''
    # split string by '|':
    bin_list = binary.split('|')
    # now go through each character string separately
    for b in bin_list:
        prime = get_digit(b)
        # now get character
        c = prime_alpha_dict[prime]
        output+=c
    return output

## Try the results yourself!

In [119]:
# TRY THE ENCODER HERE: ENTER YOUR TEXT AS 'TEXT'
text = 'z'
code = encode(text)
code

'1100111'

In [120]:
# TRY THE ENCODER HERE: ENTER YOUR BINARY AS 'CODE'!
#code= '10010101'
decode(code)

'z'