# Fun with binary coding
N.b. to use this Jupyter notebook you will need to run all cells.
### Oscar Scholin

## Initialize dictionary

In [11]:
# give example sentence with all punctunation and characters we want

ALPHABET = [' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 
'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 
'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 
'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 
'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '.', ',', ';', ':', '—', '!', '#', 
'$', '%', '&', "'", '“', '”', '(', ')', '*', '/', '?', '@', '[', '\\', 
']', '^', '-', '_', '{', '|', '}', "'", '’', '\n', '\t']

# #master = "the quick brown fox jumps over the lazy dog. THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG, who really should have brushed his teeth; however, I do not object--they were \n a pretty cool sweater, worth $100 and #1234567890 on trending (@elonmusk verifies this fact) *don't take me too seriously here ^^ seriously, dear reader!! ~hugs to you if you're reading this :) <=> what? are you talking to [me]. I hope not, cause I'm not listening to you & I don't care. \|.|/. 9+10 = 21. oh yeah, old meme.`` fun characters ~~``~\t"
# master = "abcdefghijklmnopqrstuvwxyz "
# # extract unique characters
# alphabet = sorted(list(set(master)))
# # now append capital letters
# master2 = 'ABCDEFGHIJKLMNOPQRSTUVXYZ'
# alphabet+=sorted(list(set(master2)))
# # now append special characters
# alphabet+='.,;—'
# master3 = "?!'@#$%^&*()_/\|[]{}"
# alphabet+=sorted(list(set(master3)))
# alphabet+='\n\t'
# #alphabet = list(set(alphabet))
# #print(type(alphabet))
# print('alphabet:', alphabet)
# print('num characters:', len(alphabet))

In [12]:
# now need to generate prime counterparts to create binary representations

def isprime(n):
    #return re.compile(r'^1?$|^(11+)\1+$').match('1' * n) is None
    if n < 2:
        return False
    else:
        for i in range(2, n):
            if n%i == 0: # if divisible by any of the prior numbers, not prime
                return False
    return True # if we haven't returned False then n must be prime

def gen_prime_list(max_value):
    max_cap = 10000 # map cap to look for primes
    primes_list = []

    for i in range(1, max_cap):
        if isprime(i)==True:
            primes_list.append(i)
        if len(primes_list) >= max_value:
            return primes_list

prime_list = gen_prime_list(len(ALPHABET))
print('prime list:', prime_list)

prime list: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439]

In [13]:
# now combine them
import pandas as pd
alpha_tab = pd.DataFrame({})
alpha_tab['char']=ALPHABET
alpha_tab['prime'] = prime_list
alpha_tab

   char  prime
0            2
1     a      3
2     b      5
3     c      7
4     d     11
..  ...    ...
80    }    419
81    '    421
82    ’    431
83   \n    433
84   \t    439

[85 rows x 2 columns]

In [14]:
# now create the dictionary from character to prime
alpha_prime_dict = dict(zip(ALPHABET, prime_list))
print('alpha prime:', alpha_prime_dict)

print('-------')

# now go backwards
prime_alpha_dict = dict(zip(prime_list, ALPHABET))
print('prime alpha:', prime_alpha_dict)

alpha prime: {' ': 2, 'a': 3, 'b': 5, 'c': 7, 'd': 11, 'e': 13, 'f': 17, 'g': 19, 'h': 23, 'i': 29, 'j': 31, 'k': 37, 'l': 41, 'm': 43, 'n': 47, 'o': 53, 'p': 59, 'q': 61, 'r': 67, 's': 71, 't': 73, 'u': 79, 'v': 83, 'w': 89, 'x': 97, 'y': 101, 'z': 103, 'A': 107, 'B': 109, 'C': 113, 'D': 127, 'E': 131, 'F': 137, 'G': 139, 'H': 149, 'I': 151, 'J': 157, 'K': 163, 'L': 167, 'M': 173, 'N': 179, 'O': 181, 'P': 191, 'Q': 193, 'R': 197, 'S': 199, 'T': 211, 'U': 223, 'V': 227, 'W': 229, 'X': 233, 'Y': 239, 'Z': 241, '.': 251, ',': 257, ';': 263, ':': 269, '—': 271, '!': 277, '#': 281, '$': 283, '%': 293, '&': 307, "'": 421, '“': 313, '”': 317, '(': 331, ')': 337, '*': 347, '/': 349, '?': 353, '@': 359, '[': 367, '\\': 373, ']': 379, '^': 383, '-': 389, '_': 397, '{': 401, '|': 409, '}': 419, '’': 431, '\n': 433, '\t': 439}
-------
prime alpha: {2: ' ', 3: 'a', 5: 'b', 7: 'c', 11: 'd', 13: 'e', 17: 'f', 19: 'g', 23: 'h', 29: 'i', 31: 'j', 37: 'k', 41: 'l', 43: 'm', 47: 'n', 53: 'o', 59: 'p', 61: 'q', 67: 'r', 71: 's', 73: 't', 79: 'u', 83: 'v', 89: 'w', 97: 'x', 101: 'y', 103: 'z', 107: 'A', 109: 'B', 113: 'C', 127: 'D', 131: 'E', 137: 'F', 139: 'G', 149: 'H', 151: 'I', 157: 'J', 163: 'K', 167: 'L', 173: 'M', 179: 'N', 181: 'O', 191: 'P', 193: 'Q', 197: 'R', 199: 'S', 211: 'T', 223: 'U', 227: 'V', 229: 'W', 233: 'X', 239: 'Y', 241: 'Z', 251: '.', 257: ',', 263: ';', 269: ':', 271: '—', 277: '!', 281: '#', 283: '$', 293: '%', 307: '&', 311: "'", 313: '“', 317: '”', 331: '(', 337: ')', 347: '*', 349: '/', 353: '?', 359: '@', 367: '[', 373: '\\', 379: ']', 383: '^', 389: '-', 397: '_', 401: '{', 409: '|', 419: '}', 421: "'", 431: '’', 433: '\n', 439: '\t'}

## Create binary representations of numbers

In [15]:
# function to create binary representations
def get_binary(num):
    return bin(num).replace("0b", "")

# function to get digit representation
def get_digit(binary):
    return int(binary, 2)

In [16]:
# get conversion direct from primes to their binary reps to build new dict
prime_bin = []
for prime in prime_list:
    prime_bin.append(get_binary(prime))
alpha_tab['binary']=prime_bin
alpha_tab

   char  prime     binary
0            2         10
1     a      3         11
2     b      5        101
3     c      7        111
4     d     11       1011
..  ...    ...        ...
80    }    419  110100011
81    '    421  110100101
82    ’    431  110101111
83   \n    433  110110001
84   \t    439  110110111

[85 rows x 3 columns]

In [17]:
# now redefine dictionaries
alpha_bin_dict = dict(zip(ALPHABET, prime_bin))
print('alpha prime:', alpha_bin_dict)

print('-------')

# now go backwards
bin_alpha_dict = dict(zip(prime_bin, ALPHABET))
print('prime alpha:', bin_alpha_dict)

alpha prime: {' ': '10', 'a': '11', 'b': '101', 'c': '111', 'd': '1011', 'e': '1101', 'f': '10001', 'g': '10011', 'h': '10111', 'i': '11101', 'j': '11111', 'k': '100101', 'l': '101001', 'm': '101011', 'n': '101111', 'o': '110101', 'p': '111011', 'q': '111101', 'r': '1000011', 's': '1000111', 't': '1001001', 'u': '1001111', 'v': '1010011', 'w': '1011001', 'x': '1100001', 'y': '1100101', 'z': '1100111', 'A': '1101011', 'B': '1101101', 'C': '1110001', 'D': '1111111', 'E': '10000011', 'F': '10001001', 'G': '10001011', 'H': '10010101', 'I': '10010111', 'J': '10011101', 'K': '10100011', 'L': '10100111', 'M': '10101101', 'N': '10110011', 'O': '10110101', 'P': '10111111', 'Q': '11000001', 'R': '11000101', 'S': '11000111', 'T': '11010011', 'U': '11011111', 'V': '11100011', 'W': '11100101', 'X': '11101001', 'Y': '11101111', 'Z': '11110001', '.': '11111011', ',': '100000001', ';': '100000111', ':': '100001101', '—': '100001111', '!': '100010101', '#': '100011001', '$': '100011011', '%': '100100101', '&': '100110011', "'": '110100101', '“': '100111001', '”': '100111101', '(': '101001011', ')': '101010001', '*': '101011011', '/': '101011101', '?': '101100001', '@': '101100111', '[': '101101111', '\\': '101110101', ']': '101111011', '^': '101111111', '-': '110000101', '_': '110001101', '{': '110010001', '|': '110011001', '}': '110100011', '’': '110101111', '\n': '110110001', '\t': '110110111'}
-------
prime alpha: {'10': ' ', '11': 'a', '101': 'b', '111': 'c', '1011': 'd', '1101': 'e', '10001': 'f', '10011': 'g', '10111': 'h', '11101': 'i', '11111': 'j', '100101': 'k', '101001': 'l', '101011': 'm', '101111': 'n', '110101': 'o', '111011': 'p', '111101': 'q', '1000011': 'r', '1000111': 's', '1001001': 't', '1001111': 'u', '1010011': 'v', '1011001': 'w', '1100001': 'x', '1100101': 'y', '1100111': 'z', '1101011': 'A', '1101101': 'B', '1110001': 'C', '1111111': 'D', '10000011': 'E', '10001001': 'F', '10001011': 'G', '10010101': 'H', '10010111': 'I', '10011101': 'J', '10100011': 'K', '10100111': 'L', '10101101': 'M', '10110011': 'N', '10110101': 'O', '10111111': 'P', '11000001': 'Q', '11000101': 'R', '11000111': 'S', '11010011': 'T', '11011111': 'U', '11100011': 'V', '11100101': 'W', '11101001': 'X', '11101111': 'Y', '11110001': 'Z', '11111011': '.', '100000001': ',', '100000111': ';', '100001101': ':', '100001111': '—', '100010101': '!', '100011001': '#', '100011011': '$', '100100101': '%', '100110011': '&', '100110111': "'", '100111001': '“', '100111101': '”', '101001011': '(', '101010001': ')', '101011011': '*', '101011101': '/', '101100001': '?', '101100111': '@', '101101111': '[', '101110101': '\\', '101111011': ']', '101111111': '^', '110000101': '-', '110001101': '_', '110010001': '{', '110011001': '|', '110100011': '}', '110100101': "'", '110101111': '’', '110110001': '\n', '110110111': '\t'}

In [18]:
# print dictionary
for key in alpha_bin_dict:
    print(key +'\t' + alpha_bin_dict[key])

 	10
a	11
b	101
c	111
d	1011
e	1101
f	10001
g	10011
h	10111
i	11101
j	11111
k	100101
l	101001
m	101011
n	101111
o	110101
p	111011
q	111101
r	1000011
s	1000111
t	1001001
u	1001111
v	1010011
w	1011001
x	1100001
y	1100101
z	1100111
A	1101011
B	1101101
C	1110001
D	1111111
E	10000011
F	10001001
G	10001011
H	10010101
I	10010111
J	10011101
K	10100011
L	10100111
M	10101101
N	10110011
O	10110101
P	10111111
Q	11000001
R	11000101
S	11000111
T	11010011
U	11011111
V	11100011
W	11100101
X	11101001
Y	11101111
Z	11110001
.	11111011
,	100000001
;	100000111
:	100001101
—	100001111
!	100010101
#	100011001
$	100011011
%	100100101
&	100110011
'	110100101
“	100111001
”	100111101
(	101001011
)	101010001
*	101011011
/	101011101
?	101100001
@	101100111
[	101101111
\	101110101
]	101111011
^	101111111
-	110000101
_	110001101
{	110010001
|	110011001
}	110100011
’	110101111

	110110001
		110110111

In [19]:
# create encoder
def encode(text):
    binary = '' # complete binary string
    for i, c in enumerate(text): # go through all characters
        binary += alpha_bin_dict[c]
        if i < len(text)-1:
            binary +='.' #  append divider
    return binary

In [20]:
# create decoder
def decode(binary):
    # initialize return string
    output = ''
    # split string by '|':
    bin_list = binary.split('.')
    # remove the first and last elements in list
    #print(bin_list)
    # now go through each character string separately
    for b in bin_list:
        # now get character
        c = bin_alpha_dict[b]
        output+=c
    return output

## Try the results yourself!

In [29]:
# TRY THE ENCODER HERE: ENTER YOUR TEXT AS 'TEXT'
text = 'Hello from the children of planet Earth!'
code = encode(text)
code

'10010101.1101.101001.101001.110101.10.10001.1000011.110101.101011.10.1001001.10111.1101.10.111.10111.11101.101001.1011.1000011.1101.101111.10.110101.10001.10.111011.101001.11.101111.1101.1001001.10.10000011.11.1000011.1001001.10111.100010101'

In [33]:
# TRY THE ENCODER HERE: ENTER YOUR BINARY AS 'CODE'!
#code = '1101011.101001.1101.11.10.10010111.11.111.1001001.11.1001001.1001111.1000011'
print(decode(code))

Alea Iactatur

In [59]:
# getting information on single characters only
prime = get_digit(code)
print('prime:', prime)
print('index:', prime_list.index(prime))

ValueError: invalid literal for int() with base 2: '10111.1101.101001.101001.110101.10.1011001.110101.1000011.101001.1011.100001101'

In [60]:
# reorder characters
def reorder(sentence):
    new = ''
    for i in range(len(sentence)):
        new+=sentence[len(sentence)-1-i]
    return new


reorder('hello world!')

'!dlrow olleh'